<!-- templates/base.html -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ROS2 Web Control</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!-- Bootstrap CSS for minimal styling -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Socket.IO and jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ROS2 Web Control</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('control_page') }}">Control</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('debug_page') }}">Debug</a></li>
        <!-- NEW LINK to camera feeds -->
        <li class="nav-item"><a class="nav-link" href="{{ url_for('camera_feeds_page') }}">Camera Feeds</a></li>
      </ul>
    </div>
  </nav>
  <div class="container mt-4">
      {% block content %}
      {% endblock %}
  </div>
  <!-- Bootstrap JS (with Popper.js) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
